src/main/resources/static/wsdl/BolloAutoService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://api.wsclient.bolloAuto.osb.be.it" name="BolloAutoService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://api.wsclient.bolloAuto.osb.be.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.bea.com/wli/sb/context" schemaLocation="BolloAutoService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="BolloAutoService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://api.wsclient.sicurezza.osb.be.it" schemaLocation="BolloAutoService_schema3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://api.wsclient.bolloAuto.osb.be.it" schemaLocation="BolloAutoService_schema4.xsd"/>
    </xsd:schema>
  </types>
  <message name="listaTag">
    <part name="parameters" element="tns:listaTag"/>
  </message>
  <message name="listaTagResponse">
    <part name="parameters" element="tns:listaTagResponse"/>
  </message>
  <message name="MWFaultException">
    <part name="fault" element="tns:MWFaultException"/>
  </message>
  <message name="aggiungiTagVeicolo">
    <part name="parameters" element="tns:aggiungiTagVeicolo"/>
  </message>
  <message name="aggiungiTagVeicoloResponse">
    <part name="parameters" element="tns:aggiungiTagVeicoloResponse"/>
  </message>
  <message name="rimuoviTagVeicolo">
    <part name="parameters" element="tns:rimuoviTagVeicolo"/>
  </message>
  <message name="rimuoviTagVeicoloResponse">
    <part name="parameters" element="tns:rimuoviTagVeicoloResponse"/>
  </message>
  <message name="cercaVeicolo">
    <part name="parameters" element="tns:cercaVeicolo"/>
  </message>
  <message name="cercaVeicoloResponse">
    <part name="parameters" element="tns:cercaVeicoloResponse"/>
  </message>
  <message name="listaTipologieVeicolo">
    <part name="parameters" element="tns:listaTipologieVeicolo"/>
  </message>
  <message name="listaTipologieVeicoloResponse">
    <part name="parameters" element="tns:listaTipologieVeicoloResponse"/>
  </message>
  <message name="pagaBollo">
    <part name="parameters" element="tns:pagaBollo"/>
  </message>
  <message name="pagaBolloResponse">
    <part name="parameters" element="tns:pagaBolloResponse"/>
  </message>
  <message name="confermaBollo">
    <part name="parameters" element="tns:confermaBollo"/>
  </message>
  <message name="confermaBolloResponse">
    <part name="parameters" element="tns:confermaBolloResponse"/>
  </message>
  <portType name="BolloAuto">
    <operation name="listaTag">
      <input wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/listaTagRequest" message="tns:listaTag"/>
      <output wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/listaTagResponse" message="tns:listaTagResponse"/>
      <fault message="tns:MWFaultException" name="MWFaultException" wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/listaTag/Fault/MWFaultException"/>
    </operation>
    <operation name="aggiungiTagVeicolo">
      <input wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/aggiungiTagVeicoloRequest" message="tns:aggiungiTagVeicolo"/>
      <output wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/aggiungiTagVeicoloResponse" message="tns:aggiungiTagVeicoloResponse"/>
      <fault message="tns:MWFaultException" name="MWFaultException" wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/aggiungiTagVeicolo/Fault/MWFaultException"/>
    </operation>
    <operation name="rimuoviTagVeicolo">
      <input wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/rimuoviTagVeicoloRequest" message="tns:rimuoviTagVeicolo"/>
      <output wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/rimuoviTagVeicoloResponse" message="tns:rimuoviTagVeicoloResponse"/>
      <fault message="tns:MWFaultException" name="MWFaultException" wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/rimuoviTagVeicolo/Fault/MWFaultException"/>
    </operation>
    <operation name="cercaVeicolo">
      <input wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/cercaVeicoloRequest" message="tns:cercaVeicolo"/>
      <output wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/cercaVeicoloResponse" message="tns:cercaVeicoloResponse"/>
      <fault message="tns:MWFaultException" name="MWFaultException" wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/cercaVeicolo/Fault/MWFaultException"/>
    </operation>
    <operation name="listaTipologieVeicolo">
      <input wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/listaTipologieVeicoloRequest" message="tns:listaTipologieVeicolo"/>
      <output wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/listaTipologieVeicoloResponse" message="tns:listaTipologieVeicoloResponse"/>
      <fault message="tns:MWFaultException" name="MWFaultException" wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/listaTipologieVeicolo/Fault/MWFaultException"/>
    </operation>
    <operation name="pagaBollo">
      <input wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/pagaBolloRequest" message="tns:pagaBollo"/>
      <output wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/pagaBolloResponse" message="tns:pagaBolloResponse"/>
      <fault message="tns:MWFaultException" name="MWFaultException" wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/pagaBollo/Fault/MWFaultException"/>
    </operation>
    <operation name="confermaBollo">
      <input wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/confermaBolloRequest" message="tns:confermaBollo"/>
      <output wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/confermaBolloResponse" message="tns:confermaBolloResponse"/>
      <fault message="tns:MWFaultException" name="MWFaultException" wsam:Action="http://api.wsclient.bolloAuto.osb.be.it/BolloAuto/confermaBollo/Fault/MWFaultException"/>
    </operation>
  </portType>
  <binding name="BolloAutoPortBinding" type="tns:BolloAuto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="listaTag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MWFaultException">
        <soap:fault name="MWFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="aggiungiTagVeicolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MWFaultException">
        <soap:fault name="MWFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="rimuoviTagVeicolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MWFaultException">
        <soap:fault name="MWFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="cercaVeicolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MWFaultException">
        <soap:fault name="MWFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="listaTipologieVeicolo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MWFaultException">
        <soap:fault name="MWFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="pagaBollo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MWFaultException">
        <soap:fault name="MWFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="confermaBollo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="MWFaultException">
        <soap:fault name="MWFaultException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BolloAutoService">
    <port name="BolloAutoPort" binding="tns:BolloAutoPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

